<div class="container">
  <h2 class="text-center">Rezultat</h2>
  <div class="row">
    <div class="col-12">
      <p>Vaša financijska ocjena je: <strong>{{financialFormResults.financialScore}}/10</strong></p>
    </div>
    <div class="col-12">
      <h3>Slijedite redom ove korake i poboljšajte svoje financijsko zdravlje:</h3>
    </div>
  </div>

  <div class="row" *ngIf="!financialFormResults?.hasBudget">
    <div class="col-12">
      <h4>Osobni proračun</h4>
      <p>Vođenje osobnog proračuna je neizostavni prvi korak u vašoj financijskoj budućnosti. On nam pomaže vidjeti gdje nam cure vrijedi euri i u kojem dijelu se možemo poboljšati. Vođenje osobnog proračuna je vrlo jednostavno: zapisivanjem svake potrošnje i primitka vrlo lako pratimo tijek našeg novca.</p>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasEmergencyFund">
    <div class="col-12">
      <h4>Mali hitni Fond</h4>
      <p>Prije investiranja, odplaćivanja dugova i štednje za budućnost bitno je misliti na krizne situacije. Za ovo služi mali hitni fond. Preporuča se količina od oko 1000€ lako dostupnog novca (u gotovini, na bankovnom računu, u neoročenoj štednji itd.)</p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasDebtsWithHighInterestRate">
    <div class="col-12">
      <h4>Dugovi s visokom kamatnom stopom</h4>
      <p>TODO</p>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasEmergencyFund || financialFormResults?.hasSmallEmergencyFund">
    <div class="col-12">
      <h4>Puni hitni fond</h4>
      <p>Imate najmanje 1000€ za krizne situacije. Odlično! Sada je vrijeme za povećati iznos vašeg hitnog fonda u slučaju gubitka zaposlenja ili drugih izvora zarade. Ovaj iznos pomoći će vam prebroditi teška razdoblja s minimalnim stresom oko novca. Preporuča se iznos od 3 do 6 mjesečnih troškova za puni hitni fond.</p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasDebtsWithMediumInterestRate">
    <div class="col-12">
      <h4>Dugovi sa srednje visokom kamatnom stopom</h4>
      <p>TODO</p>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasVoluntaryPensionInsurance || !financialFormResults?.isFullVoluntaryPensionInsuranceContribution">
    <div class="col-12">
      <h4>Dobrovoljno mirovinsko osiguranje</h4>
      <p>
        Pored obveznog mirovinskog osiguranja svaka osoba sa prebivalištem u Republici Hrvatskoj može dodatno štedjeti u dobrovoljnom mirovinskom fondu (III. stup) kojim upravlja mirovinsko društvo.
        Država stimulira ulaganje u dobrovoljnu mirovinsku štednju s dodatnih 15% na uplaćena sredstva u jednoj godini do ukupno uplaćenog iznosa od 663,61 EUR-a godišnje. Što znači da bi u potpunosti
        iskoristili ovaj poticaj, preporuća se uplaćivati najmanje 55.31€ mjesečno u dobrovoljno mirovinsko osiguranje.
      </p>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasInvestments">
    <div class="col-12">
      <h4>Ulaganje</h4>
      <p>TODO</p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasDebtsWithLowInterestRate">
    <div class="col-12">
      <h4>Dugovi s niskom kamatnom stopom</h4>
      <p>TODO</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Štednja za ostale troškove</h4>
      <p>Ako ste došli do ovog koraka, čestitamo! Pred Vama je svijetla financijska budućnost. Sada možete štedjeti za sve Vaše želje, bio to novi auto, vikendica, ili obrazovanje djeteta ili unuka. No ne zaboravite, i dalje se preporuča ulaganje od oko 20% primanja.</p>
    </div>
  </div>
</div>
