<div class="container">
  <h2 class="text-center">Rezultat</h2>
  <div class="row">
    <div class="col-12" style="text-align: center; padding: 20px;">
      <p style="font-size: 1.2rem; color: #555;">
        Vaša financijska ocjena je:
      </p>
      <p style="font-size: 1.8rem; font-weight: bold; color: #007bff;">
        {{financialFormResults.financialScore/2}}/5
      </p>
      <div class="stars" style="font-size: 1.5rem; color: #FFD700;">
        <div class="star-rating" style="display: inline-block; position: relative; font-size: 2rem; color: #FFD700;">
          <div class="star-filled" style="width: calc({{financialFormResults.financialScore}} * 10%); overflow: hidden; white-space: nowrap; position: absolute; top: 0; left: 0;">
            ★★★★★
          </div>
          <div class="star-empty" style="color: #ddd;">
            ★★★★★
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Slijedite redom ove korake i poboljšajte svoje financijsko zdravlje:</h3>
    </div>
  </div>

  <div class="row" *ngIf="!financialFormResults?.hasBudget">
    <div class="col-12">
      <h4>Osobni proračun</h4>
      <p>Vođenje osobnog proračuna je neizostavni prvi korak u vašoj financijskoj budućnosti. On nam pomaže vidjeti gdje nam cure vrijedi euri i u kojem dijelu se možemo poboljšati. Vođenje osobnog proračuna je vrlo jednostavno: zapisivanjem svake potrošnje i primitka vrlo lako pratimo tijek našeg novca.</p>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasEmergencyFund || !financialFormResults?.hasSmallEmergencyFund">
    <div class="col-12">
      <h4>Mali hitni fond</h4>
      <p>Prije investiranja, odplaćivanja dugova i štednje za budućnost bitno je misliti na krizne situacije. Za ovo služi mali hitni fond. Preporuča se količina od oko 1000€ lako dostupnog novca (u gotovini, na bankovnom računu, u neoročenoj štednji itd.)</p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasDebtsWithHighInterestRate">
    <div class="col-12">
      <h4>Dugovi s visokom kamatnom stopom</h4>
      <p>Dugove s visokom kamatnom stopom je potrebno što hitnije odplatiti. Preporučamo odplatu ovim redom, koji osigurava plaćanje najmanje moguće kamate:</p>
      <table class="table">
        <thead>
          <tr>
            <th>Redosljed</th>
            <th>Dug</th>
            <th>Razdoblje plačanja</th>
            <th>Ukupno kamata</th>
            <th>Ukupno plaćanje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debtPayoff of financialFormResults?.highInterestRateDebtPayoffs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{debtPayoff.debtName}}</td>
            <td>
              {{debtPayoff.numberOfPayments}} mjeseci
              <span *ngIf="monthsToYears(debtPayoff.numberOfPayments)">
                ({{monthsToYears(debtPayoff.numberOfPayments)}})
              </span>
            </td>
            <td>{{debtPayoff.totalInterest}}</td>
            <td>{{debtPayoff.totalPayments}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasEmergencyFund || !financialFormResults?.hasFullEmergencyFund">
    <div class="col-12">
      <h4>Puni hitni fond</h4>
      <p>Imate najmanje 1000€ za krizne situacije. Odlično! Sada je vrijeme za povećati iznos vašeg hitnog fonda u slučaju gubitka zaposlenja ili drugih izvora zarade. Ovaj iznos pomoći će vam prebroditi teška razdoblja s minimalnim stresom oko novca. Preporuča se iznos od 3 do 6 mjesečnih troškova za puni hitni fond.</p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasDebtsWithMediumInterestRate">
    <div class="col-12">
      <h4>Dugovi sa srednje visokom kamatnom stopom</h4>
      <p>Kada napunite hitni fond, iduće na redu su dugovi sa srednjom kamatnom stopom. Preporučamo odplatu ovim redom, koji osigurava plaćanje najmanje moguće kamate:</p>
      <table class="table">
        <thead>
          <tr>
            <th>Redosljed</th>
            <th>Dug</th>
            <th>Razdoblje plačanja</th>
            <th>Ukupno kamata</th>
            <th>Ukupno plaćanje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debtPayoff of financialFormResults?.mediumInterestRateDebtPayoffs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{debtPayoff.debtName}}</td>
            <td>
              {{debtPayoff.numberOfPayments}} mjeseci
              <span *ngIf="monthsToYears(debtPayoff.numberOfPayments)">
                ({{monthsToYears(debtPayoff.numberOfPayments)}})
              </span>
            </td>
            <td>{{debtPayoff.totalInterest}}</td>
            <td>{{debtPayoff.totalPayments}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasVoluntaryPensionInsurance || !financialFormResults?.isFullVoluntaryPensionInsuranceContribution">
    <div class="col-12">
      <h4>Dobrovoljno mirovinsko osiguranje</h4>
      <p>
        Pored obveznog mirovinskog osiguranja svaka osoba s prebivalištem u Republici Hrvatskoj može dodatno štedjeti u dobrovoljnom mirovinskom fondu (III. stup) kojim upravlja mirovinsko društvo.
        Država stimulira ulaganje u dobrovoljnu mirovinsku štednju s dodatnih 15% na uplaćena sredstva u jednoj godini do ukupno uplaćenog iznosa od 663,61 EUR-a godišnje. Što znači da bi u potpunosti
        iskoristili ovaj poticaj, preporuča se uplaćivati najmanje 55.31€ mjesečno u dobrovoljno mirovinsko osiguranje.
      </p>
    </div>
  </div>
  <div class="row" *ngIf="!financialFormResults?.hasInvestments">
    <div class="col-12">
      <h4>Ulaganje</h4>
      <p>
        Predlaže se ulaganje 20% mjesečnih primanja, što bi u Vašem slučaju, uz 3. stup, iznosilo {{financialFormResults?.investmentAmountSuggestion}} eura mjesečno.
        S obzirom na Vašu dob i osjetljivost na rizik, predlaže se ulagati {{financialFormResults?.equityPercentageSuggestion}}% u dionice, a {{100 - (financialFormResults?.equityPercentageSuggestion ?? 0)}}% u obveznice.
      </p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasInvestments && financialFormResults.hasLowInvestments">
    <div class="col-12">
      <h4>Ulaganje</h4>
      <p>
        Vaše ulaganje je pohvalno, no za prosperitetniju budućnost, predlaže se da ulažete više, tako jest 20% mjesečnih primanja, što bi iznosilo
         {{financialFormResults?.investmentAmountSuggestion}} eura mjesečno.
        S obzirom na Vašu dob i osjetljivost na rizik, predlaže se ulagati {{financialFormResults?.equityPercentageSuggestion}}% u dionice, a {{100 - (financialFormResults?.equityPercentageSuggestion ?? 0)}}% u obveznice.
      </p>
    </div>
  </div>
  <div class="row" *ngIf="financialFormResults?.hasDebtsWithLowInterestRate">
    <div class="col-12">
      <h4>Dugovi s niskom kamatnom stopom</h4>
      <p>Ostali su samo dugovi s niskom kamatnom stopom. Preporučamo odplatu ovim redom, koji osigurava plaćanje najmanje moguće kamate:</p>
      <table class="table">
        <thead>
          <tr>
            <th>Redosljed</th>
            <th>Dug</th>
            <th>Razdoblje plačanja</th>
            <th>Ukupno kamata</th>
            <th>Ukupno plaćanje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debtPayoff of financialFormResults?.lowInterestRateDebtPayoffs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{debtPayoff.debtName}}</td>
            <td>
              {{debtPayoff.numberOfPayments}} mjeseci
              <span *ngIf="monthsToYears(debtPayoff.numberOfPayments)">
                ({{monthsToYears(debtPayoff.numberOfPayments)}})
              </span>
            </td>
            <td>{{debtPayoff.totalInterest}}</td>
            <td>{{debtPayoff.totalPayments}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Štednja za ostale troškove</h4>
      <p>Ako ste došli do ovog koraka, čestitamo! Pred Vama je svijetla financijska budućnost. Sada možete štedjeti za sve Vaše želje, bio to novi auto, vikendica, ili obrazovanje djeteta ili unuka. No ne zaboravite, i dalje se preporuča ulaganje od oko 20% primanja.</p>
    </div>
  </div>
</div>
