<div class="container">
    <h2 class="text-center">Rezultat</h2>
    <div class="row">
        <div class="col-12">
            <p>Vaša financijska ocjena je: <strong>8/10</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Preporuke</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>1) Budžet</h4>
            <p>Ako ste u formi stavili ne za budžet, imate mogućnost da dodate budžet kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>2) Hitni Fond</h4>
            <p>Ako ste u formi stavili ne ili manje od 100 EUR za hitni fond, preporučujemo da dodate hitni fond iznosa 1000 EUR kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>3) Ako imate dugova s kamatnom stopom &gt; 8%</h4>
            <p>Molimo Vas da popunite informacije o vašim dugovima s kamatnom stopom većom od 8% kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>4) Ako je hitni fond između 1000 EUR I 5*80% neto primanja</h4>
            <p>Molimo Vas da popunite informacije o vašem hitnom fondu između 1000 EUR i 5*80% neto primanja kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>5) Isto kao 3. Ali između 6 I 8%</h4>
            <p>Molimo Vas da popunite informacije o vašim dugovima s kamatnom stopom između 6% i 8% kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>6) Treći stup ako je u formi ne I ako je manje od 56 EUR mjesečno</h4>
            <p>Molimo Vas da popunite informacije o vašem trećem stupu finansijskog plana ako ste u formi stavili ne i ako je vaš mjesečni prihod manji od 56 EUR.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>7) Štednja za mirovinu</h4>
            <p>Molimo Vas da popunite informacije o vašoj štednji za mirovinu kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>8) Preostali dugovi s kamatnom stopom &lt;6%</h4>
            <p>Molimo Vas da popunite informacije o vašim preostalim dugovima s kamatnom stopom manjom od 6% kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>9) Štednja za ostale troskove</h4>
            <p>Molimo Vas da popunite informacije o vašoj štednji za ostale troskove kako bi se financijski plan mogao prilagoditi vašim potrebama.</p>
        </div>
    </div>
</div>
