<div class="container min-vh-100 align-items-center">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 col-xl-3" *ngIf="!isEmailSent">
            <h2 class="text-center pb-3 ">Promijeni lozinku</h2>
            <form>
                <div class="form-group pb-4">
                    <label for="emailInput">Email adresa</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="Unesi email">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block w-100" (click)="sendEmail()">Pošalji zahtjev za reset lozinke</button>
                </div>
            </form>
        </div>

        <div class="col-sm-6 col-md-6 col-xl-3"*ngIf="isEmailSent">
            <h2 class="text-center pb-3">Resetiraj lozinku</h2>
            <form>
                <div class="form-group pb-2">
                    <label for="codeInput">Potvrdi kod</label>
                    <input type="text" class="form-control" id="codeInput" placeholder="Unesi potvrdi kod">
                </div>
                <div class="form-group pb-4">
                    <label for="newPasswordInput">Nova lozinka</label>
                    <input type="password" class="form-control" id="newPasswordInput" placeholder="Unesi novu lozinku">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block w-100">Pošalji zahtjev za reset lozinke</button>
                </div>
            </form>
        </div>
    </div>
</div>