label {
    font-weight: 500;
}

.form-check-label {
    font-weight: unset;
}

button {
    width: 150px;
}

.pointer {
    cursor: pointer;
}

.indented-section {
  margin-left: 1.5rem;
}

.form-label.small {
  font-size: 0.875rem;
}
