<div class="container" appLazyLoad>
    <div class="row">
        <div class="col-sm-12 col-lg-7 first-one p-4">
            <div class="first-info">
                <span>Dobrodošli na</span>
                <h1>FINANCIJSKI</h1>
                <h1 class="pb-4">PLANER</h1>
                <p class="pt-4">Planiranje financijske budućnosti nikada nije bilo jednostavnije!</p>
                <button type="button" class="btn btn-success" (click)="navigateToPlan()" >KREIRAJ PLAN</button>
            </div>

        </div>
        <div class="col-sm-12 col-lg-5 p-5 first-second">
            <img src="assets/landing.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>

<div class="second hidden-element" appLazyLoad>
    <div class="row">
        <div class="col-12 text-center p-5 hidden-element" appLazyLoad>
            <h2>Kako funkcionira?</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3" >
            <div class="card hidden-element" appLazyLoad>
                <div class="num pb-3">
                    01
                </div>
                <div class="title pb-4">
                    Unesite Vaše podatke
                </div>
                <div class="desc">
                    Kroz jednostavan obrazac unesite osnovne informacije o svojim financijama
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card hidden-element" appLazyLoad>
                <div class="num pb-3" >
                    02
                </div>
                <div class="title pb-4">
                    Pošaljite obrazac
                </div>
                <div class="desc">
                    Naš algoritam analizira vaše podatke i stvara prilagođeni financijski plan.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3 pb-5">
            <div class="card hidden-element" appLazyLoad>
                <div class="num pb-3">
                    03
                </div>
                <div class="title pb-4">
                    Personalizirani plan
                </div>
                <div class="desc">
                    Dobit ćete detaljan financijski plan u koracima, rangiran prema prioritetima
                </div>
            </div>
        </div>
    </div>
</div>

<div class="third">
    <div class="row">
        <div class="col-12 text-center p-5 hidden-element" appLazyLoad>
            <h2>Što dobijate?</h2>
        </div>
        <div class="col-12 pb-5 hidden-slide-right" appLazyLoad>
            <div class="feature">
                <img src="assets/feature1.png" alt="">
                <div class="content">
                    <span>Jasne smjernice</span>
                    <p>Precizne i razumljive preporuke za upravljanje vašim financijama</p>
                </div>
            </div>
        </div>
        <div class="col-12 pb-5 hidden-slide-right" appLazyLoad>
            <div class="feature">
                <img src="assets/feature2.png" alt="">
                <div class="content">
                    <span>Prioritetizirane preporuke</span>
                    <p>Planirajte pametno s jasno definiranim koracima i prioritetima.</p>
                </div>
            </div>
        </div>

        <div class="col-12 pb-5 hidden-slide-right" appLazyLoad>
            <div class="feature">
                <img src="assets/feature3.png" alt="">
                <div class="content">
                    <span>Sigurnost i povjerenje</span>
                    <p>Vaši podaci su sigurni i koriste se isključivo za stvaranje vašeg financijskog plana.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="forth">
    <div class="row">
        <div class="col-12 text-center p-4 hidden-element" appLazyLoad>
            <h2>Počnite sada</h2>
        </div>
        <div class="col-12 pb-4 start-plan text-center hidden-element" appLazyLoad>
            <p>Pridružite nam se i učinimo zajedno vašu financijsku
                budućnost sigurnijom i svjetlijom!</p>

            <button type="button" class="btn btn-success" (click)="navigateToPlan()">KREIRAJ PLAN</button>
        </div>
    </div>
</div>
